<aside class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 my-auto">
        <h2>Connect with [&nbsp;A&nbsp;Legge&nbsp;Up&nbsp;]:</h2>
      </div>
      <div class="col-lg-8 my-auto">
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item">
            <a href="http://www.aleggeup.com/" target="_blank" class="btn btn-secondary btn-lg">
              <i class="fa fa-home fa-fw"></i>
              <span class="network-name">ALeggeUp Home</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/ALeggeUp" target="_blank" class="btn btn-secondary btn-lg">
              <i class="fa fa-twitter fa-fw"></i>
              <span class="network-name">Twitter</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/ALeggeUp" target="_blank" class="btn btn-secondary btn-lg">
              <i class="fa fa-github fa-fw"></i>
              <span class="network-name">Github</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>
