<app-header-banner></app-header-banner>

<!-- Page Content -->
<section class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 ml-auto">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">The right tool for the job</h2>
        <p class="lead">{{title}} was a purpose built tool to solve a specific problem, but the tool itself is
        available as a general tool that might be useful for things that the author never thought of, or something
        like that.  I can't really think of anything interesting to say but it feels like the paragraph should be
        about this long.
        </p>
      </div>
      <div class="col-lg-5 mr-auto">
        <img class="img-fluid" src="assets/img/if_package_graphics_18181.png" alt="">
      </div>
    </div>
  </div>
</section>

<section class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mr-auto order-lg-2">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">The inner workings</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="col-lg-5 ml-auto order-lg-1">
        <img class="img-fluid" src="assets/img/clock-70182_640.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<app-footer-aside></app-footer-aside>
<app-footer></app-footer>
