<!-- Header -->
<header class="intro-header">
  <div class="container">
    <div class="intro-message">
    <div class="intro-shade">
      <h1>{{title}}</h1>
      <h3>{{subtitle}}</h3>
      <hr class="intro-divider">
      <ul class="list-inline intro-social-buttons">
        <li class="list-inline-item">
          <a href="#" class="btn btn-outline-secondary btn-lg">
            <span class="network-name">Create New</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="btn btn-outline-secondary btn-lg">
            <span class="network-name">View Existing</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="btn btn-outline-secondary btn-lg">
            <span class="network-name">Learn More</span>
          </a>
        </li>
      </ul>
    </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 ml-auto">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">The right tool for the job</h2>
        <p class="lead">{{title}} was a purpose built tool to solve a specific problem, but the tool itself is
        available as a general tool that might be useful for things that the author never thought of, or something
        like that.  I can't really think of anything interesting to say but it feels like the paragraph should be
        about this long.
        </p>
      </div>
      <div class="col-lg-5 mr-auto">
        <img class="img-fluid" src="assets/img/if_package_graphics_18181.png" alt="">
      </div>
    </div>
  </div>
</section>

<section class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mr-auto order-lg-2">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">The inner workings</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="col-lg-5 ml-auto order-lg-1">
        <img class="img-fluid" src="assets/img/clock-70182_640.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<aside class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 my-auto">
        <h2>Connect with [&nbsp;A&nbsp;Legge&nbsp;Up&nbsp;]:</h2>
      </div>
      <div class="col-lg-8 my-auto">
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item">
            <a href="http://www.aleggeup.com/" target="_blank" class="btn btn-secondary btn-lg">
              <i class="fa fa-home fa-fw"></i>
              <span class="network-name">ALeggeUp Home</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/ALeggeUp" target="_blank" class="btn btn-secondary btn-lg">
              <i class="fa fa-twitter fa-fw"></i>
              <span class="network-name">Twitter</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/ALeggeUp" target="_blank" class="btn btn-secondary btn-lg">
              <i class="fa fa-github fa-fw"></i>
              <span class="network-name">Github</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>

<!-- Footer -->
<footer>
  <div class="container">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="#">Home</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="#about">About</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="#services">Services</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="#contact">Contact</a>
      </li>
    </ul>
    <p class="copyright text-muted small">Copyright &copy; [ A Legge Up ] 2017.  All Rights Reserved.</p>
  </div>
</footer>
