<!-- Header -->
<header class="intro-header">
  <div class="container">
    <div class="intro-message">
    <div class="intro-shade">
      <h1>{{title}}</h1>
      <h3>{{subtitle}}</h3>
      <hr class="intro-divider">
      <ul class="list-inline intro-social-buttons">
        <li class="list-inline-item">
          <a routerLink="/create" class="btn btn-outline-secondary btn-lg">
            <span class="network-name">Create New</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a routerLink="/existing" class="btn btn-outline-secondary btn-lg">
            <span class="network-name">View Existing</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a routerLink="/more" class="btn btn-outline-secondary btn-lg">
            <span class="network-name">Learn More</span>
          </a>
        </li>
      </ul>
    </div>
    </div>
  </div>
</header>
