<!-- Footer -->
<footer>
  <div class="container">
    <ul class="list-inline">

      <li class="list-inline-item">
        <a [routerLink]="['/home']">Home</a>
      </li>

      <li class="footer-menu-divider list-inline-item">&sdot;</li>

      <li class="list-inline-item">
        <a [routerLink]="['/create']">Create New</a>
      </li>

      <li class="footer-menu-divider list-inline-item">&sdot;</li>

      <li class="list-inline-item">
        <a [routerLink]="['/gallery']">View Gallery</a>
      </li>

      <li class="footer-menu-divider list-inline-item">&sdot;</li>

      <li class="list-inline-item">
        <a [routerLink]="['/more']">About / Contact</a>
      </li>

    </ul>
    <p class="copyright text-muted small">Copyright &copy; [ A Legge Up ] 2017-2018.  All Rights Reserved.</p>
  </div>
</footer>
