<!-- Header -->
<header class="home-header">
  <div class="container">
    <div class="home-message">
    <div class="home-shade">
      <h1>{{title}}</h1>
      <h3>{{subtitle}}</h3>
      <hr class="home-divider">
      <ul class="list-inline home-social-buttons">
        <li class="list-inline-item">
          <a routerLink="/gallery" class="btn btn-outline-secondary btn-lg">
            <span class="network-name">View Gallery</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a routerLink="/more" class="btn btn-outline-secondary btn-lg">
            <span class="network-name">Learn More</span>
          </a>
        </li>
      </ul>
    </div>
    </div>
  </div>
</header>
